<h1 id="tableLabel">Edit song</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>{{ song.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Year</mat-card-title>
    <mat-card-subtitle>{{ song.year }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Composer</mat-card-title>
    <mat-card-subtitle>{{ song.composer }}</mat-card-subtitle>
  </mat-card-header>

</mat-card>

<div class="example-button-row">
  <button mat-raised-button color="accent" [routerLink]="['/music']">Back to list</button>
</div>
