
<h1 id="tableLabel">Add song</h1>


<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Song's name</mat-label>
        <input matInput [(ngModel)]="song.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Year</mat-label>
        <input matInput [(ngModel)]="song.year" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Composer</mat-label>
        <input matInput [(ngModel)]="song.composer" />
      </mat-form-field>
    </td>
  </tr>
</table>

  <div class="example-button-row">
    <button mat-raised-button color="accent" (click)="saveSong()">Save Song</button>
    <button mat-raised-button color="accent" [routerLink]="['/music']">Back to list</button>
  </div>
