<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Hello, world!</mat-card-title>
    <mat-card-subtitle>Welcome to your new single-page application, built with:</mat-card-subtitle>
    <mat-card-subtitle>
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-stroked-button href='https://get.asp.net/'>ASP.NET Core</a> and <a mat-stroked-button href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code,</mat-list-item>
        <mat-list-item role="listitem"><a mat-stroked-button href='https://angular.io/'>Angular</a> and <a mat-stroked-button href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code,</mat-list-item>
        <mat-list-item role="listitem">
          <div>
            <b>Efficient production builds.</b> In production mode, development-time features are disabled,
            and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-header>
    <mat-card-title> To help you get started, we've also set up: </mat-card-title>
    <mat-card-subtitle>
      <mat-list role="list">
        <mat-list-item role="listitem"><div>For example,<a mat-raised-button href='https://get.asp.net/'> click </a><em>Counter</em> then <em>Back</em> to return here.</div></mat-list-item>
        <mat-list-item role="listitem">
          <div>
            <b>Angular CLI integration</b>. In development mode, there's no need to run <code>ng serve</code>.
            It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.
          </div>
        </mat-list-item>
        <mat-list-item role="listitem"><div><a mat-raised-button href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling.</div></mat-list-item>
      </mat-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
  </mat-card-content>
</mat-card>

<mat-slide-toggle>Slide me!</mat-slide-toggle>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
